.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #020202;
    color: white;
    font-weight: bold;
    font-size: 23px;
}
.li{
    margin-right: 40px;
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 500px) {
    .rightside{
        display: none;
    }
}